p{
    color: rgb(85, 189, 81);
}
h1{
    color: rgb(165, 147, 42);
}
h3{
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    padding: 5px;
    margin: 5px;
}